:root {
  /* Colours */
  --blue: #0e899f;
  --blue-trs: #0e899f6c;
  --dark-grey: #222222;
  --light-grey: #eaeaea;
  --white: #ffffff;
  --red: #8e2121;

  /* Text Styles */
  --font: 'Oswald', sans-serif;
}
