.header_container {
  background-color: var(--dark-grey);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.header_container .header_overlay {
  grid-column: 1/4;
  grid-row: 1/1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.close_btn,
.nav_bars {
  z-index: 10;
  display: none;
  position: absolute;
}

.header_overlay .header_logo {
  z-index: 3;

  position: relative;
  inset: 2rem 3rem;

  height: fit-content;
  width: fit-content;
}

.header_logo img {
  width: 250px;
}

.header_overlay .header_menu {
  z-index: 9;
  position: absolute;

  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  margin-top: 2rem;
}

.header_container .header_img,
.header_img_pf,
.header_img_ct {
  grid-column: 2/4;
  grid-row: 1/4;
  z-index: 2;
  position: relative;

  width: 100%;
  min-height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header_img {
  background-image: url('../../img/IMG_8239.jpg');
}

.header_img_pf {
  background-image: url('../../img/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg');
}

.header_img_ct {
  background-image: url('../../img/pankaj-patel-OXkUz1Dp-4g-unsplash.jpg');
}

.header_container .header_info {
  grid-column: 1/2;
  grid-row: 2/2;

  height: inherit;
  margin: 0vh 0vw 0vh 4vw;
  z-index: 3;

  position: absolute;
  padding: 10vh 0vw 0vh 2vw;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .nav_bars {
    display: block;
    z-index: 13;
    width: 100%;
    position: fixed;

    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 45px;
  }

  .bars_click {
    font-size: 3rem !important;
    text-decoration: none;
    color: var(--blue);

    cursor: pointer;
  }

  .close_btn {
    display: block;
    width: fit-content;
    z-index: 12;

    font-size: 5rem !important;
    text-decoration: none;
    top: 20px;
    right: 45px;
  }

  .header_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header_overlay .header_menu {
    top: 15%;
    width: 100%;

    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header_menu a {
    margin: 2vh;
  }
}

@media screen and (max-width: 500px) {
  .header_logo img {
    width: 200px;
  }

  .cta_button {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header_logo img {
    width: 185px;
  }
}
