.header_container {
  background-color: var(--dark-grey);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.header_container .header_logo {
  grid-column: 1/1;
  z-index: 3;

  position: relative;
  inset: 2rem 3rem;

  height: fit-content;
  width: fit-content;
}

.header_container .header_menu {
  grid-column: 2/4;
  z-index: 3;
  position: absolute;

  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  margin-top: 2rem;
}

.header_container .header_img,
.header_img_pf,
.header_img_ct {
  grid-column: 2/4;
  grid-row: 1/1;
  z-index: 2;
  position: relative;

  width: 100%;
  min-height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header_img {
  background-image: url('../../img/IMG_8239.jpg');
}

.header_img_pf {
  background-image: url('../../img/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg');
}

.header_img_ct {
  background-image: url('../../img/pankaj-patel-OXkUz1Dp-4g-unsplash.jpg');
}

.header_container .header_info {
  grid-column: 1/2;
  grid-row: 1/1;

  height: inherit;
  width: 60%;
  z-index: 3;

  position: absolute;
  padding: 10vh 0rem 0rem 2vw;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
