.project {
  margin: 2vh 4vw;

  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.project_headingL,
.project_headingR {
  margin: 4vh 0vw;
  width: 100%;

  display: inline-flex;
}

.project_headingL {
  justify-content: flex-start;
}

.project_headingR {
  justify-content: flex-end;
}

.project_img,
.project_dsc {
  display: inline-flex;
  align-items: center;
}

.project_img {
  justify-content: center;
  width: 100%;

  margin-bottom: 2vh;
}

.project_img img {
  width: 80%;

  box-shadow: 24px -24px 0px 4px rgba(34, 34, 34, 1);
  -webkit-box-shadow: 24px -24px 0px 4px rgba(34, 34, 34, 1);
  -moz-box-shadow: 24px -24px 0px 4px rgba(34, 34, 34, 1);
}

.project_dsc {
  text-align: center;
}
